/* Font for Headers and Footers */
@font-face {
    font-family: 'Adobe Caslon Pro Regular';
    src: url('../fonts/ACaslonPro-Regular.otf') format('otf'),
         url('../fonts/ACaslonPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Adobe Caslon Pro Regular', sans-serif !important;
}

body {
    background-color: #f3e6e0;
    display: flex;
    flex-direction: column;
}

.opaque-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/pictures/hummingbird.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

main {
    flex-grow: 1;
    padding: 20px;
}

header, footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Adobe Caslon Pro Regular';
}

header {
    background-color: #ffffff;
    color: #bfdcc2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1, header h2 {
    margin: 0;
    text-align: left;
}

header h1 {
    font-size: 1em;
}

header h2 {
    margin-top: 5px;
    font-size: 1em;
}

nav {
    text-align: right;
    font-size: 1.25em;
}

nav ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li a span {
    display: inline-block;
    position: relative;
}

nav ul li a:not(:has(img))::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

nav ul li a:not(:has(img)):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1; 
}

nav ul li a img {
    margin-left: 8px;
    vertical-align: middle;
}

nav ul li a img:hover {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #bfdcc2;
    color: #333333;
    font-size: 1em;
    text-align: center;
    margin-top: auto;
}

main h1 {
    font-size: 2em;
    text-align: center;
    color: #333333;
}

main p {
    font-size: 1.2em;
    color: #333333;
    line-height: 1.6em;
    text-align: center;
}

.cta-button {
    font-family: 'FaFont';
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #cb8888;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #b77b7b;
}

.cta-button-container {
    position: absolute;
    left: 82%;
    transform: translateX(-50%);
    top: calc(100% - 50px);
    width: auto;
}

.calendar-container {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 80px;
}


.calendar {
    border-collapse: collapse;
    margin: 0 auto;
}

.calendar th,
.calendar td {
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.calendar th {
    background-color: #bfdcc2;
    font-weight: bold;
}

.calendar td {
    background-color: #fff;
}

.calendar td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;

}

.contact-form h2 {
    font-size: 1.5em;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;

}

.contact-form label {
    font-size: 1.1em;
    color: #333333;
    display: block;
    margin-bottom: 5px;
    
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #cb8888;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    max-width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.contact-form button:hover {
    background-color: #b77b7b;
    transform: scale(1.05);
    transform-origin: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.newsletter-signup {
    margin-top: 20px;
}

.newsletter-signup h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333333;
}

.newsletter-signup form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.newsletter-signup input[type="email"], 
.newsletter-signup button {
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    width: 200px;
    max-width: 100%;
}

.newsletter-signup input[type="email"] {
    border: 1px solid #ddd;
}

.newsletter-signup button {
    background-color: #cb8888;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.newsletter-signup button:hover {
    background-color: #b77b7b;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calendar-navigation {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
}

#month-display {
    font-size: 24px;
    margin: 0 20px;
}

button {
    background-color: #cb8888;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 10px;
}

button:hover {
    background-color: #b77b7b;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
