@font-face {
    font-family: 'ProFaFont';
    src: url('../fonts/pro-fa-brands-400-0.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProFaFont';
    src: url('../fonts/pro-fa-brands-700-0.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Ensure the body and html elements take up full height of the viewport */
    margin: 0;
}

body {
    background-color: #f3e6e0;
    display: flex; /* Set body as a flex container */
    flex-direction: column; /* Stack header, content, and footer vertically */
    font-family: 'ProFaFont', sans-serif;
}

main {
    flex-grow: 1; /* Ensures content area takes up remaining space */
}

header, footer {
    width: 100%; /* Ensure full width */
    padding: 20px; /* Consistent padding */
    box-sizing: border-box; /* Include padding in width calculation */
}

header {
    background-color: #ffffff;
    color: #bfdcc2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: left;
}

header h1, header h2 {
    margin: 0;
    text-align: left;
}

header h1 {
    font-size: 1.8em;
    font-weight: bold;
}

header h2 {
    margin-top: 5px;
    font-size: 1.1em;
    font-weight: bold;
}

nav {
    text-align: right;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    font-family: 'ProFaFont', sans-serif;
    font-weight: 300;
    font-size: 1.0em;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    font-family: 'ProFaFont', sans-serif;
    font-weight: 300;
    font-size: 1.0em;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #bfdcc2;
    color: #333333;
    font-size: 1.2em;
    text-align: center;
    margin-top: auto; /* Ensures footer is pushed to the bottom */
}

.header-and-paragraph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0;
    padding-left: 10%; /* Updated padding for responsiveness */
    box-sizing: border-box;
}

.header-and-paragraph p {
    flex: 1;
    margin-right: 60px;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.6em;
}

.book-image {
    max-width: 40%;
    padding-right: 25px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}
