@font-face {
    font-family: 'ProFaFont';
    src: url('../fonts/pro-fa-brands-400-0.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ProFaFont';
    src: url('../fonts/pro-fa-brands-700-0.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #f3e6e0;
    margin: 0;
    font-family: 'ProFaFont', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.opaque-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/pictures/sanscript.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

h1, p {
    font-family: 'ProFaFont', sans-serif;
}

header, footer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    color: #bfdcc2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Adobe Caslon Pro Regular';
}

nav {
    text-align: right;
    font-size: 1.25em;
}

nav ul {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li a span {
    display: inline-block;
    position: relative;
}

nav ul li a:not(:has(img))::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

nav ul li a:not(:has(img)):hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
}

nav ul li a img {
    margin-left: 8px;
    vertical-align: middle;
}

nav ul li a img:hover {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #bfdcc2;
    color: #333333;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    font-family: 'ProFaFont', sans-serif;
    margin-top: auto;
}

.header-and-paragraph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    margin: 0;
    padding-left: 10%;
}

.header-and-paragraph p {
    flex: 1;
    margin-right: 60px;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.6em;
}

.header-and-paragraph > div {
    text-align: center;
    margin-top: 20px;
}

.newsletter-signup {
    margin-top: 20px;
}

.newsletter-signup h3 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333333;
}

.newsletter-signup form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.newsletter-signup input[type="email"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 250px;
    max-width: 100%;
}

.newsletter-signup button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #cb8888;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.newsletter-signup button:hover {
    background-color: #b77b7b;
}

.book-image {
    max-width: 40%;
    padding-right: 25px;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.gallery-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
